:root {
  /* Wallpaper settings */
  background-image: url('./assets/stars_wallpaper.png');
  background-color: #012b1e;
  background-blend-mode:overlay;
  background-size: 35%; 
  background-position: center center;
  background-repeat: repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Wrapper for the two game containers to display them side by side */
.containers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@font-face {
  font-family: titleFont;
  src: url(./assets/Jersey10-Regular.ttf) format("truetype"); 
}
@keyframes colorChange {
  0% { outline-color: #5f0e0e; }
  25% { outline-color: #ffc400; }
  50% { outline-color: #02563C; }
  75% { outline-color: #2049d1; }
  100% { outline-color: #560241; }
}

/* Container for both games */
.main-container {
  z-index: 1;
  min-width: 900px;
  max-width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  outline:2px dashed #02563C;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  box-sizing: border-box;

  /* Animation for the outline color change */
  animation-name: colorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Page title */
h1{
  font-family: titleFont;
  color: #ffc400;
  font-size: 7.2em;
  line-height: 0.1;
  text-align: center;
}
/* Game title */
h2 {
  background-color: #02563C;
  font-family: titleFont;
  color: #ffc400;
  margin: 56px 180px 56px 160px;
  opacity: 1;
  outline: 2px dashed #ffc400;
  outline-offset: 6px;
  border-radius: 10px;
  padding: 10px;
  font-size: 2.0em;
  line-height: 1.0;
  text-align: center;
}
/* Metrics title */
h3 {
  font-family: titleFont;
  color: #ffc400;
  font-size: 1.8em;
  text-decoration: underline;
  text-decoration-color: #02563C;
  text-decoration-style: dashed;
  text-align: center;
  margin: 20px 20px 0px 0px;
}
/* Subtitles (selection boxes and metrics text) */
p {
  font-family: monospace;
  color: #ffc400;
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 1.4;
  text-align: center;
  margin: 10px 20px 0px 0px;
}

/* Button styles */
button {
  background-color: #ffc400;
  color: #01253C;
  font-family: titleFont;
  font-size: 1.2em;
  padding: 8px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #02563C;
  color: #ffc400;
}

/* Game title, buttons, visualization, and metrics */
.game-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  min-width: 840px;
  width: 100%;
  overflow-y: hidden;
}
/* Buttons, visualization, and selection boxes */
.visual-btns-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.btn-group {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 20px;
}
.metrics-container {
  display: flex;
  flex-direction: column;
}
.metrics {
  display: flex;
  flex-direction: column;
}

/* Placeholder for the game visualizations */
.tictactoe-placeholder {
  width: 416px;
  height: 416px;
  background-image: url('./assets/tictactoe_bg.png');
  border-radius: 4px;
}
#puzzleImage {
  border-radius: 4px;
}

/* Selection boxes for algorithms */
.dropdown-btn-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dropdown-container {
  position: relative;
}
.dropdown-btn {
  background-color: #01253C;
  font-family: monospace; 
  color: #ffc400;
  padding: 16px;
  font-size: 16px;
}
.dropdown {
  z-index: 1;
  display: none;
  position: absolute;
  border: 2px dashed #02563C;
  border-radius: 10px;
  background-color: #01253C;
  min-width: 80px;
}
.dropdown-container:hover .dropdown {
  display: block;
}
.dropdown-option {
  color: #ffc400;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}
.dropdown-option:hover {
  background-color: #02563C;
  border-radius: 10px;
}