:root {
  /* Wallpaper settings */
  background-image: url('./assets/stars_wallpaper.png');
  background-color: #012b1e;
  background-blend-mode:overlay;
  background-size: 35%; 
  background-position: center center;
  background-repeat: repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: titleFont;
  src: url(./assets/Jersey10-Regular.ttf) format("truetype"); 
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Container for both games */
.main-container {
  z-index: 1;
  width: 80vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  outline: 2px dashed #ffc400;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  box-sizing: border-box;
}

/* Page title */
h1{
  font-family: titleFont;
  color: #ffc400;
  font-size: 7.2em;
  line-height: 0.1;
  text-align: center;
}
/* Game title */
h2 {
  background-color: #012b1e;
  font-family: titleFont;
  color: #ffc400;
  opacity: 0.9;
  outline: 2px dashed #ffc400;
  border-radius: 10px;
  padding: 10px;
  font-size: 2.0em;
  line-height: 1.1;
  text-align: center;
}
/* Metrics title */
h3 {
  font-family: titleFont;
  color: #ffc400;
  font-size: 1.8em;
  line-height: 1.1;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #012b1e;
  text-decoration-style:dashed;
}
/* Subtitles (selection boxes and metrics text) */
p {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 1.1;
  text-align: center;
}

/* Button styles */
button {
  background-color: #ffc400;
  color: #012b1e;
  font-family: titleFont;
  font-size: 1.6em;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}
  /* Reset button */

  /* Play button */

  /* Upload img button */

  /* Remove img button */

/* Selection boxes */

/* Game title, buttons, visualization, and metrics */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  height: 40vh;
}
/* Buttons, visualization, and selection boxes */
.visual-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.button-group {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 16px;
}